<nav>
  <div class="row">
    <%= link_to "OFFICEBOT", root_path, class: 'logo' %>
    <ul class="main__nav">
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <!-- <li><a href="#" class="signup__cta">Sign Up Now</a></li> -->
    </ul>
  </div>
</nav>

