<div class="jumbotron">
    <div class="container details">
        <div class="vertical-spacer"></div>
        <div class="vertical-spacer"></div>
        <h1>About me</h1>
        <p>
          Hi! <br> I'm Nicolas and this is the beginning of my journey with One Month Rails.<br>
          Now, hit the contact tab!
        </p>
    </div>
</div>
