<div class="jumbotron">
    <div class="container details">
        <div class="vertical-spacer"></div>
        <div class="vertical-spacer"></div>
        <h1>About me</h1>
        <p>
          Hi there! <br> I'm Nicolas and this is the beginning of my journey with One Month Rails. <br>
          If you want to see my current work, hit this <a href="https://github.com/syscom13" target="_blank">link</a>!
        </p>
    </div>
</div>
