<div class="about__container">
  <div class="content">
    <h1>About me</h1>
    <p>Hi there! <br> I'm Nicolas and this is the beginning of my journey with One Month Rails. <br>
    If you want to see my current work, hit the Contact link above!</p>
  </div>
</div>
