<div class="jumbotron">
    <div class="container details">
        <div class="vertical-spacer"></div>
        <div class="vertical-spacer"></div>
        <h1>Hi there!</h1>
        <p>
          Let's get in touch.<br>
          Come and check my work on Github!
        </p>
    </div>
</div>

