<div class="contact__container">
  <div class="content">
    <h1>Hi there!</h1>
    <p>Let's get in touch! <br> Come and check my work on <a href="https://github.com/syscom13" target="_blank">Github</a>!</p>
  </div>
</div>

